.container-header {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;    
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

.content-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header > img {
    width: 550px;
    animation: ease-in animat 1s;
}

.texts-header {
    margin: 0 0 0 30px;
}

.content-header p {
    margin-top: 14px;
    color: #5d6678;
    font-size: 1.5em;
}

.content-header a {
    margin: 15px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    text-align: center;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(124, 116, 230, 0.7);
}

.btn-header i {
    font-size: 1.5em;
    margin-right: 10px;
}

.btn-header:hover {
    background: #636060;
}