/*
    created by   : 
    created time : 

    modified by   : Erick Rivas
    modified time : 28/06/2020 23:55pm 
*/

@import url("header.css");
@import url("objectives.css");
@import url("parallax.css");
html, body{
    margin-left: 0;    
    margin-right: 0;
    width: 100%;
    height: 100%;
}
